<div class="secc-proyects">
    <h1>Proyectos</h1>
    <div class="img-fluid">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="../../../assets/manu1 (1).jpg" class="d-block w-100" alt="...">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus exercitationem hic molestias, debitis veniam nemo provident ab optio, quo repellendus cum soluta perspiciatis. A nulla vel et placeat, consectetur nisi!</p>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="../../../assets/manu2.jpg" class="d-block w-100" alt="...">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio saepe laboriosam inventore nisi enim ea amet officiis consequatur laudantium atque aperiam debitis aspernatur facere architecto recusandae non, quam temporibus explicabo?</p>
              </div>
              <div class="carousel-item">
                <img src="../../../assets/mariposas.png" class="d-block w-100" alt="...">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum quasi cupiditate accusamus animi totam saepe ratione suscipit, pariatur veniam perspiciatis ipsam quia tenetur asperiores obcaecati eligendi rerum! Error, culpa eaque!</p>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</div>

