<nav class="prueba navbar navbar fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img  class="logoAp" src="../../../../assets/APLogo.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span id="hamburguesa" ><span class="material-symbols-outlined">
menu
</span></span>
    </button>
    <div class="desplegable offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="menu-arriba offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="listas-nav navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="acerca-dm nav-link" href="#">Acerca de mí</a>
          </li>
          <li class="nav-item">
            <a class="exp nav-link" href="#">Experiencia</a>
          </li>
          <li class="nav-item">
            <a class="estudio nav-link" href="#">Educación</a>
          </li>
          <li class="nav-item">
            <a class="skills nav-link" href="#">Habilidades</a>
            <li class="nav-item">
              <a class="proyects nav-link" href="#">Proyectos</a>
            </li>
          <li class="nav-item dropdown">
            <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
        </form>
      </div>
    </div>
  </div>
</nav>