<div>
    <h1>Hard and Soft Skills</h1>
</div>
<div class="flex-container hys-seccion">
        <div class="html">
            <circle-progress
                [percent]="85"
                [radius]="70"
                [showUnits]="false"
                [title]="'Html'"
                [titleColor]="'rgb(99, 86, 64)'"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'rgb(227, 165, 164)'"
                [innerStrokeColor]="'#fff'"
                [animation]="true"
                [animationDuration]="300"
                [clockwise]="true"
            ></circle-progress>
        </div>
        <div class="css">
            <circle-progress
                [percent]="85"
                [radius]="70"
                [showUnits]="false"
                [title]="'Html'"
                [titleColor]="'rgb(99, 86, 64)'"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'rgb(227, 165, 164)'"
                [innerStrokeColor]="'#fff'"
                [animation]="true"
                [animationDuration]="300"
                [clockwise]="true"
            ></circle-progress>
        </div>      
        <div class="js">
            <circle-progress
                [percent]="85"
                [radius]="70"
                [showUnits]="false"
                [title]="'Html'"
                [titleColor]="'rgb(99, 86, 64)'"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'rgb(227, 165, 164)'"
                [innerStrokeColor]="'#fff'"
                [animation]="true"
                [animationDuration]="300"
                [clockwise]="true"
            ></circle-progress>
        </div>      
        <div class="angular">
            <circle-progress
                [percent]="85"
                [radius]="70"
                [showUnits]="false"
                [title]="'Html'"
                [titleColor]="'rgb(99, 86, 64)'"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'rgb(227, 165, 164)'"
                [innerStrokeColor]="'#fff'"
                [animation]="true"
                [animationDuration]="300"
                [clockwise]="true"
            ></circle-progress>
        </div>     
</div>
<div>
    <h3>Soft Skills</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, sit accusantium et quis earum culpa aspernatur praesentium quam nostrum odio nisi alias autem neque, vitae cumque amet esse, minima iste.</p>
</div>
