  <div>  
    <div id="text-about-me">
            <span>
              <figure>
              <img src="../../../assets/lula.jpeg" alt="lula-linda">
            </figure>
            
                <h1>Acerca de mí</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi delectus ratione labore maiores veritatis sequi quidem vitae eaque ullam, amet tempora, eum soluta laboriosam esse nobis voluptas adipisci, pariatur quo.</p>
            </span>
        </div>
</div>

