<div class="background-alt" id="experiencia">
    <h1>Experiencia Laboral</h1>
<section id="caja-exp">
        <span class="fecha1">September<span class="material-symbols-outlined" id="icono">emoji_nature</span>2010-2011</span>

<article id="artic-exp1"> 
        <div class="d-flex  exp-1">
            <div id="cont-info1">
            <h3>titulo</h3>
            <h4>subtitulo</h4> 
            <p class="parrafo">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dicta hic tempore totam, itaque repellendus numquam quia incidunt natus temporibus optio assumenda non id eveniet fuga saepe repudiandae. Odit, soluta!
            </p>
            </div>
        </div>
</article>

    <span class="fecha2">Diciembre<span class="material-symbols-outlined" id="icono">emoji_nature</span>2012-2015</span>

    <article id="artic-exp2"> 
        <div class="d-flex exp-2">
            <div id="cont-info2">
                <h3>titulo</h3>
                <h4>subtitulo</h4> 
                <p class="parrafo">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dicta hic tempore totam, itaque repellendus numquam quia incidunt natus temporibus optio assumenda non id eveniet fuga saepe repudiandae. Odit, soluta!
                </p>
            </div>
        </div>
    </article>

    <span class="fecha3">Febrero<span class="material-symbols-outlined" id="icono">emoji_nature</span>2018-2019</span>

    <article id="artic-exp3"> 
        <div class="d-flex exp-3">
            <div id="cont-info3">
            <h3>titulo</h3>
            <h4>subtitulo</h4> 
            <p class="parrafo">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dicta hic tempore totam, itaque repellendus numquam quia incidunt natus temporibus optio assumenda non id eveniet fuga saepe repudiandae. Odit, soluta!
            </p>
            </div>
        </div>
    </article>
    </section>
    </div>

